<a href="https://colab.research.google.com/github/Rp2451/practice-projects/blob/main/04-Data-Wrangling/Non-Guided-Project/NG04_Public_Health_Data_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Non-Guided Project 4: Public Health Data Preparation
## Chapter 4: Data Wrangling and Preparation

**AI Thinking: A Hands-On Introduction to Artificial Intelligence**

---

### Scenario

You're volunteering with a community health nonprofit in Miami-Dade County. They've been collecting data on patient visits across several neighborhood clinics, but the data has quality issues. Before the nonprofit can present findings to the county health board, the data needs to be cleaned and summarized.

Your job: **Clean this dataset and prepare a summary of key findings.**

---

### What You'll Practice
- Loading and exploring a dataset
- Finding and handling missing values
- Removing duplicates
- Standardizing inconsistent text
- Filtering out invalid data
- Basic analysis using groupby and value_counts

### Dataset Columns
| Column | Description |
|--------|-------------|
| visit_id | Unique ID for each visit |
| zip_code | Clinic zip code |
| neighborhood | Clinic neighborhood |
| visit_type | Type of visit (e.g., Flu Vaccination, Dental Cleaning) |
| age_group | Patient age range |
| gender | Patient gender |
| insurance_type | Insurance category |
| preferred_language | Patient's preferred language |
| wait_time_minutes | How long the patient waited |
| satisfaction_score | Patient satisfaction (1-5 scale) |
| follow_up_needed | Whether a follow-up visit is needed (Yes/No) |

---
## Part 1: Load and Explore the Data

Import pandas, load the CSV file, and explore the dataset using the methods from the guided project:
- `.head()`
- `.shape`
- `.info()`
- `.describe()`

In [2]:
# Import pandas
import pandas as pd

# Load the dataset
df = pd.read_csv('community_health_visits.csv')

# View the first few rows
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'community_health_visits.csv'

In [3]:
# Check the shape of the dataset
# YOUR CODE HERE
df.shape

(104, 11)

In [4]:
# Run .info() to see column types and non-null counts
# YOUR CODE HERE
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   visit_id            104 non-null    int64
 1   zip_code            104 non-null    int64
 2   neighborhood        98 non-null     object
 3   visit_type          104 non-null    object
 4   age_group           104 non-null    object
 5   gender              104 non-null    object
 6   insurance_type      99 non-null     object
 7   preferred_language  101 non-null    object
 8   wait_time_minutes   100 non-null    float64
 9   satisfaction_score  94 non-null     float64
 10  follow_up_needed    104 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 9.1+ KB

In [5]:
# Run .describe() to see statistics for numerical columns
# YOUR CODE HERE
df.describe()

          visit_id      zip_code  wait_time_minutes  satisfaction_score
count   104.000000    104.000000         100.000000           94.000000
mean   5049.221154  33099.230769          52.050000            3.680851
std      28.972688     57.941757          50.366811            1.415830
min    5000.000000  33010.000000         -15.000000            0.000000
25%    5024.750000  33012.000000          23.750000            3.000000
50%    5049.500000  33132.000000          54.000000            4.000000
75%    5074.250000  33139.000000          66.000000            5.000000
max    5099.000000  33155.000000         480.000000            8.000000

### ✏️ Your Observations

Before moving on, write down what you notice. Double-click this cell to edit.

- How many rows and columns does the dataset have?
- Which columns appear to have missing values?
- Do any of the min/max values in `.describe()` look suspicious?
- Anything else that looks off?

*Your notes:*

---
## Part 2: Find Missing Values

Count the missing values in each column. Then calculate the percentage of missing values.

**Hint:** You did this in the guided project with `.isnull().sum()`

In [6]:
# Count missing values per column
# YOUR CODE HERE
df.isnull().sum()

visit_id               0
zip_code               0
neighborhood           6
visit_type             0
age_group              0
gender                 0
insurance_type         5
preferred_language     3
wait_time_minutes      4
satisfaction_score    10
follow_up_needed       0
dtype: int64

In [19]:
# Calculate missing value percentages
# Hint: (df.isnull().sum() / len(df) * 100).round(1)
# YOUR CODE HERE
(df.isnull().sum() / len(df) * 100).round

<bound method Series.round of visit_id              0.0
zip_code              0.0
neighborhood          0.0
visit_type            0.0
age_group             0.0
gender                0.0
insurance_type        0.0
preferred_language    0.0
wait_time_minutes     0.0
satisfaction_score    0.0
follow_up_needed      0.0
dtype: float64>

---
## Part 3: Handle Missing Values

Decide how to handle each column with missing data. Here's a guide:

| Column | Suggested Strategy |
|--------|-------------------|
| neighborhood | Fill with `'Unknown'` |
| insurance_type | Fill with `'Unknown'` |
| preferred_language | Fill with `'Unknown'` |
| wait_time_minutes | Fill with the **median** |
| satisfaction_score | Fill with the **median** |

Use `.fillna()` for each column.

In [1]:
# Fill missing text columns with 'Unknown'
# YOUR CODE HERE
df.fillna('Unknown', inplace=True)

NameError: name 'df' is not defined

In [9]:
# Fill missing numerical columns with the median
# YOUR CODE HERE

In [10]:
# Verify: check that no missing values remain
# YOUR CODE HERE

---
## Part 4: Remove Duplicates

Check for and remove any duplicate rows.

**Hint:** `.duplicated().sum()` and `.drop_duplicates()`

In [11]:
# Check for duplicates, print the count, then remove them
# Print row count before and after
# YOUR CODE HERE

---
## Part 5: Standardize Text

Several text columns have inconsistent formatting (mixed uppercase/lowercase, extra spaces). Standardize the following columns:

- `visit_type`
- `neighborhood`
- `insurance_type`
- `follow_up_needed`

**Hint:** Use `.str.lower().str.strip()` on each column.

Check the unique values **before** and **after** cleaning to confirm it worked.

In [12]:
# Check unique values BEFORE cleaning
print("visit_type values:")
print(df['visit_type'].unique())
print(f"\nCount: {df['visit_type'].nunique()} unique values")

visit_type values:
['COVID Vaccination' 'MENTAL HEALTH CONSULTATION' 'Vision Screening'
 'Diabetes Screening' 'Dental Cleaning' 'Annual Checkup' 'FLU VACCINATION'
 'Mental Health Consultation' 'Flu Vaccination' 'Blood Pressure Screening'
 'annual checkup' 'diabetes screening ' 'COVID vaccination'
 ' Blood Pressure Screening' ' dental cleaning']

Count: 15 unique values

In [13]:
# Standardize all four text columns
# YOUR CODE HERE

In [14]:
# Check unique values AFTER cleaning
print("visit_type values:")
print(df['visit_type'].unique())
print(f"\nCount: {df['visit_type'].nunique()} unique values")

visit_type values:
['COVID Vaccination' 'MENTAL HEALTH CONSULTATION' 'Vision Screening'
 'Diabetes Screening' 'Dental Cleaning' 'Annual Checkup' 'FLU VACCINATION'
 'Mental Health Consultation' 'Flu Vaccination' 'Blood Pressure Screening'
 'annual checkup' 'diabetes screening ' 'COVID vaccination'
 ' Blood Pressure Screening' ' dental cleaning']

Count: 15 unique values

In [15]:
# Also check the other columns you cleaned
# YOUR CODE HERE

---
## Part 6: Filter Out Bad Data

Check for values that don't make sense:

1. **Negative wait times** — wait_time_minutes should be positive
2. **Invalid satisfaction scores** — should be between 1 and 5
3. **Unreasonable wait times** — anything over 180 minutes (3 hours) is likely an error

First, **find** the bad rows. Then **filter** them out.

In [ ]:
# Find rows with negative wait times
# YOUR CODE HERE

In [ ]:
# Find rows with invalid satisfaction scores (outside 1-5)
# YOUR CODE HERE

In [ ]:
# Find rows with unreasonable wait times (over 180 minutes)
# YOUR CODE HERE

In [ ]:
# Remove all bad data
# Print row count before and after
# YOUR CODE HERE

---
## Part 7: Verify Your Clean Data

Print a final summary confirming the data is clean:
- Total rows and columns
- Total missing values (should be 0)
- Total duplicates (should be 0)
- Value ranges for wait_time_minutes and satisfaction_score

In [ ]:
# Print your clean data summary
# YOUR CODE HERE

---
## Part 8: Analyze the Clean Data

Now answer these questions using the clean data. Use `.groupby()`, `.value_counts()`, and `.mean()` as needed.

**Question 1:** What are the most common visit types?

In [ ]:
# Most common visit types
# YOUR CODE HERE

**Question 2:** What is the average wait time by neighborhood?

In [ ]:
# Average wait time by neighborhood
# YOUR CODE HERE

**Question 3:** What is the average satisfaction score by insurance type?

In [ ]:
# Average satisfaction by insurance type
# YOUR CODE HERE

**Question 4:** What percentage of visits require a follow-up?

In [ ]:
# Follow-up percentage
# Hint: use .value_counts() on follow_up_needed
# YOUR CODE HERE

**Question 5:** What is the most common preferred language across all visits?

In [ ]:
# Preferred language breakdown
# YOUR CODE HERE

---
## Part 9: Create a Visualization

Create **at least one** chart from your analysis. Pick whichever question you find most interesting.

**Hint:**
```python
import matplotlib.pyplot as plt

# Example: bar chart
your_data.plot(kind='bar')  # or 'barh' for horizontal
plt.title('Your Title')
plt.xlabel('X Label')
plt.ylabel('Y Label')
plt.tight_layout()
plt.show()
```

In [16]:
import matplotlib.pyplot as plt

# Create your visualization
# YOUR CODE HERE

---
## Part 10: Reflection

Double-click this cell and answer the following questions:

**1. What was the messiest part of this dataset? How did you fix it?**

*Your answer:*


**2. Were there any decisions you had to make about how to handle the data (e.g., what to do with missing values, which rows to remove)? Explain your reasoning.**

*Your answer:*


**3. What was one interesting finding from your analysis of the clean data?**

*Your answer:*

---
## ✅ Submission Checklist

Before submitting, make sure you have:

- [ ] Loaded and explored the data (Part 1)
- [ ] Identified all missing values (Part 2)
- [ ] Handled all missing values (Part 3)
- [ ] Removed duplicate rows (Part 4)
- [ ] Standardized text in at least 4 columns (Part 5)
- [ ] Filtered out invalid data (Part 6)
- [ ] Verified the clean dataset (Part 7)
- [ ] Answered all 5 analysis questions (Part 8)
- [ ] Created at least one visualization (Part 9)
- [ ] Completed the reflection (Part 10)

**Save your notebook and submit!**